SSO_MYSQL_DATABASE=sso_platform
SSO_MYSQL_USER=sso_app
SSO_MYSQL_PASSWORD=sso_app
SSO_MYSQL_ROOT_PASSWORD=root

SSO_SERVER_BASE_URL=http://localhost:8080
SSO_WEB_BASE_URL=http://localhost:5173
SSO_CORS_ORIGINS=http://localhost:5173
SSO_OIDC_ISSUER=
SSO_OIDC_KEY_ID=
SSO_OIDC_PRIVATE_KEY_PEM=
